altair>=5.2.0
attrs>=23.2.0
blinker>=1.7.0
cachetools>=5.3.3
certifi>=2024.2.2
charset-normalizer>=3.3.2
click>=8.1.7
GitPython>=3.1.42
idna>=3.6
Jinja2>=3.1.3
jsonschema>=4.21.1
markdown-it-py>=3.0.0
MarkupSafe>=2.1.5
numpy
pandas
pillow
protobuf
pyarrow
pydeck
pygments
python-dateutil
pytz
requests
rich
six
streamlit
tenacity
toml
toolz
tornado
typing-extensions
tzdata
urllib3
watchdog
googleapis-common-protos
seaborn
elasticsearch
elastic-transport
scikit-learn
